<!-- ============ HEAD CLOSE COMPONENT ============ -->
  <link rel="apple-touch-icon" href="{{root}}assets/img/apple-touch-icon.png">
  <link rel="preload" href="{{root}}assets/fonts/SpaceGrotesk-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/SpaceGrotesk-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/SpaceGrotesk-600.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/SpaceGrotesk-700.woff2" as="font" type="font/woff2" crossorigin>
  <script>document.documentElement.classList.add('js');</script>
  <link rel="stylesheet" href="{{root}}styles.css">
  <script src="{{root}}assets/vendor/lucide.min.js"></script>